html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
   
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}


/* navigation section */

.top-navigation {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.content {
	width: 772px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.links {
	float: right;
	margin-top: 1.7em;
}

.links li {
	display: inline-block;
	margin-left: 1.5em;
}

.links li a {
	text-decoration: none;
	color: inherit;
}

.top-navigation .links li a:hover {
    cursor: pointer;
    color: #333333;
}

/* hero image section */

.introduction {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 45rem; 
	overflow: auto;
}

.introduction .content {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10em;
}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
	margin-bottom: 0;
}

.introduction h3 {
	font-size: 1.563rem;
	margin-top: .75rem;
}

.introduction h1, .introduction h3 {
	text-align: center;
	color: white;
	font-weight: 300;
}

.introduction-button {
	text-align: center;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    font-size: 1.125rem;
    width: 10rem;
}

.big-button :hover {
	cursor: pointer;
	background-color: #DA3601;
}

/* -----  cases section -------   */

.cases {
	background-color: white;
	padding-bottom: 5rem;
	height: 28em;
}

.cases .content {
	text-align: center;
	margin-top: 7.875rem;
}

.cases h2 {
	text-align: center;
	color: #4c5058;
	font-weight: 300;
	font-size: 2.75rem;
}

.cases .devices {
    width: 32.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
}

.devices img {
	width: 8em;
	height: 8em;
}


.cases .caption h3 {
	font-weight: 400;
	font-size: 1.563rem;
	color: #4c5058;
}


/* FOOTER SECTION */

.social {
	text-align: center;
	padding-bottom: 9em;
}

.social h5 {
	font-weight: 300;
	letter-spacing: -0.05rem;
	color: black;
	font-size: 1.1rem;
}

.icons {
	margin: 0 auto;
	padding: 0;
}

.social .icons li {
	display: inline-block;
    list-style: none;
    border: 1px solid #eaebec;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem 0;
    border-radius: 100%;
    margin: 0 0.3em;
}





