body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

.content {
	padding: 0px 15px;
}

/* navigation section */

.top-navigation {
	background-color: white;
}

.top-navigation .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.links {
	float: right;
}

.links li {
	display: inline-block;
}